.jumboEdit {
    background-color: rgba(253, 246, 139, 0.65);
    height: 16vh;
}

.jumboTextEdit {
    font-weight: bold;
}

.searchH {
    font-size: 20px;
}

.formCity {
    font-style: italic;
    font-size: 20px;
}

.searchEdit {
    margin-top: 30px;
}

.nowWeather {
    border: 2px rgb(41, 41, 44, 0.5) outset;
    margin: 0px 0px 32px 65px;
    background-color: rgb(255, 227, 194, 0.5);
    box-shadow: 5px 10px 8px #888888;
}

.cardEdit {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}

#searchBtn {
    padding-left: 15px;
    margin-left: 163px;
}

.fiveCardShadow {
    box-shadow: 0px 4px 8px rgba(66, 41, 17, 0.65);
}